apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    releaseName: nginx
    namespace: ingress-nginx
    version: 4.14.1
    valuesFile: values.yaml
    includeCRDs: true

resources:
  - ./ns.yaml
