apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: metallb
    repo: https://metallb.github.io/metallb
    releaseName: metallb
    namespace: metallb-system
    version: 0.15.3
    includeCRDs: true
    valuesFile: ./values.yaml

resources:
  - ./ns.yaml
  - ./adress-pool.yaml
  - ./layer-2-advertisment.yaml
